{% extends 'base.html' %}
{% block principal %}
<div id='presentacion'>
	<h1>Fácil, Rápido y Personalizado</h1>
	<p><strong>¿Buscas un trabajo ideal para ti?</strong> Hay muchas empresas que necesitan de profesionales con tus capacidades, 
	sólo debes <em>registrar tu información profesional,</em> todos los datos que deseas contarle a las empresas.
	</p>
	<p>Nuestro servicio, <em>te enviara periodicamente correos electrónicos</em> con las ofertas adecuadas, <strong>todas
	las ofertas son adaptadas a tu perfil</strong>, no mas anuncios sin importancia.</p>
	<p>Registra tu información, es rápido y sencillo.</p>
</div>
<aside>
	<div id='administrar'>
		<p><a href='/administrar'>Ingresa</a></p>
		<p>Registrate si aún no tienes cuenta.</p>
	</div>
</aside>
{% endblock %}
